#heading {
    font-family: 'Indie Flower', cursive;
    /*color: #4AA4E3;  This was the first*/
    color: #3b6978;
}

.snowflake-img {
    height: 64px;
    width: 64px;
}

.form-control {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 30px;
}

.know-your-weather {
    font-family: 'Indie Flower', cursive;;
}

.created-by {
    font-family: 'Balsamiq Sans', cursive;
}

.footer {
    background-color: #fafafa;
    margin-left: 10%;
}

.facebook {
    height: 30px;
    width: 30px;
}

.twitter {
    height: 30px;
    width: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.instagram {
    height: 30px;
    width: 30px;
    margin-right: 15px;
}

.github {
    height: 30px;
    width: 30px;
}

.example-image {
    height: 200px;
    width: 200px;
}

#jumbotron-heading {
    background-repeat: no-repeat;
    background-size: cover;
}
.failureButton {
    margin: 10px;
    padding: 10px;
}
.failurePage {
    margin: 50px;
}
.insideFailure {
    margin: 10px;
}

#input {
    font-family: cursive;
}

.main-container {
    background-repeat: no-repeat;
    background-size: cover;
}
.information-block {
    margin: 0;
    padding: 0;
}
#cityName {
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    color: #D6DBDF; /* initialy it was #E5E8E8;*/
    font-size: 6.5rem;
}
#location {
    margin-left: 6px;
    color: #E5E8E8;
    font-size: 1rem;
}
.container-fluid {
    margin: 0;
    padding: 0;
}

.image {
    filter: blur(6px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
.data {
    z-index: 2;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
}
#home {
    z-index: 2;
    position:absolute;
    top: 17%;
    left: 110%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    
}
#weather {
    font-size: 3.5rem;
    color: #AED6F1;
}
.description {
    color: #AED6F1 ;
}
#temperature {
    color:#FADBD8; /* initialy it was #F6DDCC, #F5B7B1 it is also a good choice */
    font-size: 2rem;
}
#feelsLike {
    color: #F5B7B1;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}
#otherData {
    font-size: 1.7rem;
    font-family: 'Raleway', sans-serif;
}
#pressure {
    color: #D2B4DE;
}
#humidity {
    color: #A9CCE3;
}
#visibility {
    color: #76D7C4 ;
}
#windSpeed {
    color: #D5D8DC;
}
#cloudPercentage {
    color: #85C1E9 ;
}
#sunrise {
    color: #F9E79F; /**/
}
#sunset {
    color: #EDBB99;
}